.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #ff6b6b;
    border-color: #ff6b6b;
}

.btn-primary:hover {
    background-color: #ff5252;
    border-color: #ff5252;
}

.btn-outline-primary {
    color: #ff6b6b;
    border-color: #ff6b6b;
}

.btn-outline-primary:hover {
    background-color: #ff6b6b;
    border-color: #ff6b6b;
}

.btn:focus,
.btn:focus-visible {
    outline: 4px auto #fac4c4 !important;
    background-color: #ff6b6b !important;

}

.navbar-brand {
    font-weight: bold;
    color: #ff6b6b !important;
}

.text-primary {
    color: #ff6b6b !important;
}